<div [class.main-is-mobile]="mobileQuery.matches" class="main-container">
  <mat-toolbar class="main-toolbar" color="primary">
    <mat-toolbar-row>
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="main-title">Expense Analyzer</h1>
      <span class="main-spacer"></span>
      <mat-menu #appMenu="matMenu">
        <button (click)="profile()" mat-menu-item>
          <mat-icon>verified_user</mat-icon>
          Profile
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>lock</mat-icon>
          Logout this device
        </button>
        <button (click)="logoutAll()" mat-menu-item>
          <mat-icon>close</mat-icon>
          Logout all devices
        </button>
      </mat-menu>
      <button [matMenuTriggerFor]="appMenu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                         class="main-sidenav-container">
    <mat-sidenav #sidenav [fixedInViewport]="mobileQuery.matches"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="true" fixedTopGap="56">
      <mat-nav-list>
        <a *ngFor="let menu of menus" [routerLink]="menu?.link" mat-list-item>
          <mat-icon>{{menu?.icon}}</mat-icon>&nbsp;{{menu?.title}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="p-4">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
