<div [class.main-is-mobile]="mobileQuery.matches" class="main-container">
  <mat-toolbar class="main-toolbar" color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="main-title">Expense Analyzer</h1>
  </mat-toolbar>

  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                         class="main-sidenav-container">
    <mat-sidenav #sidenav [fixedInViewport]="mobileQuery.matches"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="true" fixedTopGap="56">
      <mat-nav-list>
        <a *ngFor="let menu of menus" [routerLink]="menu?.link" mat-list-item>
          {{menu?.title}}&nbsp;<mat-icon>{{menu?.icon}}</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
