<form (ngSubmit)="verify()" *ngIf="formVisibility?.verification" [formGroup]="verificationForm">
  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email Address</mat-label>
        <input formControlName="email" matInput placeholder="Enter email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="verificationControls?.email?.hasError('required')">
          Email address is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="verificationControls?.email?.hasError('pattern')">
          Invalid email address.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button [disabled]="verificationForm.invalid" color="primary" mat-stroked-button
              type="submit">Verify
      </button>
    </div>
  </div>
</form>
<form (ngSubmit)="submit()" *ngIf="formVisibility?.reset" [formGroup]="resetForm">
  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Token</mat-label>
        <input formControlName="token" matInput placeholder="Enter token">
        <mat-icon matSuffix>create</mat-icon>
        <mat-error *ngIf="resetControls?.token?.hasError('required')">
          Token is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput
               placeholder="Enter password">
        <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
                mat-icon-button matSuffix type="button">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>At least 8 digits</mat-hint>
        <mat-error *ngIf="resetControls?.password?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="resetControls?.password?.hasError('minlength')">
          Password must be at least 8 digits
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button [disabled]="verificationForm.invalid" color="primary" mat-stroked-button
              type="submit">Change
      </button>
      <button (click)="viewVerificationForm()" color="primary" mat-stroked-button type="submit">
        Reset
      </button>
    </div>
  </div>
</form>
