<table class="table table-bordered table-hover table-striped w-100 text-center">
  <thead>
  <tr>
    <th>S No.</th>
    <th>Type</th>
    <th>Date</th>
    <th>Time</th>
    <th>Amount</th>
    <th>Payee / Payer</th>
    <th>Category</th>
    <th>Payment Method</th>
    <th>Status</th>
    <th>Description</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of dataSource; let i = index">
    <td>{{i + 1}}</td>
    <td>{{categoryTypeEnum[data?.type] | titlecase | checkEmpty}}</td>
    <td>{{data?.date | date | checkEmpty}}</td>
    <td>{{data?.time | checkEmpty}}</td>
    <td>{{data?.amount | checkEmpty}}</td>
    <td>{{data?.payeeOrPayer | checkEmpty}}</td>
    <td>{{data?.category?.name | checkEmpty}}</td>
    <td>{{data?.paymentMethod?.name | checkEmpty}}</td>
    <td>{{data?.status?.name | checkEmpty}}</td>
    <td>{{data?.description | checkEmpty}}</td>
    <td>{{data?.createdAt | date | checkEmpty}}</td>
    <td>{{data?.updatedAt | date | checkEmpty}}</td>
  </tr>
  </tbody>
</table>
